body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#addNote, #searchNotes, #toggleTheme {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addNote {
    background-color: #007bff;
    color: white;
}

#searchNotes {
    width: 100%;
    border: 1px solid #ccc;
}

#toggleTheme {
    background-color: #ccc;
}

.note {
    background-color: #E7E4E4; /* Gris pastel predeterminado */
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border 0.3s;
}

.note input[type="text"] {
    width: 100%;
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
}

.note textarea {
    width: 100%;
    border: 1px solid black;
    resize: vertical;
    padding: 5px;
}

.note textarea::placeholder {
    color: grey;
}

.note .options {
    margin-top: 10px;
}

.note .options button, .note .options input[type="color"], .note .options select {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.note .options input[type="color"] {
    background-color: lightgreen;
    color: black;
    padding: 0;
    width: 60px;
}

.note .options select {
    width: 150px;
}

.note .options select option:first-child{
    color: grey;
}

.note .bordered {
    border: 2px solid black;
}
